.splash-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.splash {
  position: absolute;
  background-size: cover;
  padding: 0 100px;
  width: 60%;
  
  
}

.button{
  position: absolute;
  width: 250px;
  top: 500px;
  transition: all .3s ease;

  &:hover{
    width: 330px;
    cursor: pointer;
  }
}

.paw{
  position: absolute;
  width: 100px;
  top: 550px;
  right: 600px;
}


.github{
  position: absolute;
  width: 100px;
  top: 550px;
  left: 600px;
  transition: all .3s ease;
  &:hover{
    width: 150px;
    
  }
}
.faded{
  opacity: 0.5;
}

.game-over{
  position: absolute;
  background-size: cover;
  z-index: 100;
  height: 100%;
}

.start-again{
  position: absolute;
  width: 300px;
  z-index: 101;
  bottom: 40px;
  right: 500px;
  transition: all .3s ease;
  &:hover{
    cursor: pointer;
    width: 380px;
  }
}
.hidden{
  display: none;
}

.show{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: none;
  background-color: black;
  
  
}
